<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FirebaseAdmin" version="1.13.0" targetFramework="net472" />
  <package id="FirebaseDatabase.net" version="4.0.4" targetFramework="net472" />
  <package id="Google.Api.Gax" version="2.7.0" targetFramework="net472" />
  <package id="Google.Api.Gax.Rest" version="2.7.0" targetFramework="net472" />
  <package id="Google.Apis" version="1.46.0" targetFramework="net472" />
  <package id="Google.Apis.Auth" version="1.46.0" targetFramework="net472" />
  <package id="Google.Apis.Core" version="1.46.0" targetFramework="net472" />
  <package id="Google.Apis.Drive.v3" version="1.46.0.1975" targetFramework="net472" />
  <package id="LiteDB" version="4.1.4" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net472" />
  <package id="System.Interactive.Async" version="3.2.0" targetFramework="net472" />
  <package id="System.Reactive" version="4.0.0" targetFramework="net472" />
</packages>